@tailwind preflight;
  body {
    color: azure;
    background-image: url("assets/images/art-artistic-background-1020315.jpg");
    background-repeat: no-repeat;
    @apply bg-fixed bg-cover;
  }
  nav{
    height: 50px;
    @apply bg-black w-full flex mb-4 pt-2 fixed;
  }
  nav div{
      @apply text-center;
  }

@tailwind utilities;
  #imgInput {
      width: 640px;
      height: 426px;
      margin-left: auto;
      margin-right: auto;
      background-image: url("assets/images/art-backdrop-bright-53265.jpg");
      background-repeat: no-repeat;
      @apply bg-contain rounded-lg block relative mt-24;
  }
  #imgInput div {
      top: 50%;
      left: 50%;
      margin-top: -24px;
      margin-left: -24px;
      z-index: 1;
      @apply absolute;
  }
  .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  }
  .inputfile + label {
	cursor: pointer;
  }
  footer{
      @apply bg-black fixed flex w-full pin-b;
  }
  footer div{
      @apply w-1/2 block text-center p-2;
  }